*{
    margin: 0px;
}

h1 {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h2{
    font-size: 22px;
    letter-spacing: 1px;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h3{
    font-size: 14px;
    letter-spacing: 2px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
}
h4{
    font-size: 13px;
    color: #fafafa;
    font-family: "Roboto";
    font-weight: 300;
}

p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.box{
    display:flex;
    width: 100%;
    height:auto;
}

.background_on_landing_page{
    background: url(images/header/backgroundimage_p1.jpg)  no-repeat center/cover;
    flex-direction: column;
    position: relative;
    height:auto;
}

.header{
    display: flex;
    width: 100%;
    height: 50px;
}

.logo{
    display:flex;
    justify-content:center;
    width:50%

}

.main_menu{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content:flex-start ;
    padding-top: 30px;
}

.main_menu__button {
    font-size: 1.0vw;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
   margin:0 10px 0 10px;
}
.main_menu__button:hover{
    font-size: 1.0vw;
    width: auto;
    display:flex;
    color:#00e0d0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    margin:0 10px 0 10px;
}

.main{
    display: flex;
    height: 440px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.main__titel{  <!-- /titel on darck background -->
    display: flex;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
}

.line_ander_titel{
    display: flex;
    width: 50px;
    height: 2px;
    background-color: #00e0d0;
    margin: 20px;
}

.main__text{ <!-- /text on landing page-->
    display: flex;
    max-width: 850px;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 0 0 70px 0;
    text-align: center;
    color: #ffffff;
   padding:10px 15px 0 15px;
}

.central_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-align: center;
    width: auto;
    height: 40px;
    border-radius: 2px;
    border: 1px solid;
    padding:0 15px 0 15px;
    text-decoration: none;
}

.central_button__description_on_landing_page{
    color: #00e0d0;
}

.central_button:hover{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 120px;
    width:auto;
    border-radius: 2px;
    border: 1px solid;
    padding:0 15px 0 15px;
    text-decoration: none;
}

.central_button__description_on_landing_page:hover{
    color:#ffffff;
}

.slider{
    display: flex;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:60px;
}

.slider__cirkle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin: 2px;
}

.position_our_story{
    justify-content:center;
    align-items: center;
    padding:70px 0 70px 0;
}

.big_logo {
    padding-right: 9%;
    height:30vw;
}


.big_logo__text_box{
    display: flex;
    max-width: 482px;
    height:auto;
    color: #413d4b;
    padding-right:10px;
    margin:30px 0 30px 0;
}

.central_button__description_on_white{
    color: #413d4b;
}

.central_button__description_on_white:hover{
    color:#00e0d0;
}

.backgraund_play_video_button{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/p3/bacgroundimage_p3.jpg);
    height: 535px;
}

.play_video_button{
    height: 120px;
}

.play_video_button__titel{
    font-size: 16px;
    color: #ffffff;
    font-weight: 900;
    margin-top:20px;
}

.box_expertise{
    flex-direction: column;
    align-items: center;
    padding:70px 0 70px 0;
}

.subtitel{
    height: 27px;
    color: #2f2d35;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin:15px 0 0 0;
}

.main_box{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width:970px;
   margin:25px 0 50px 0;
}

.block_with_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 320px;
    color: #413d4b;
    text-align: center;
    padding:0 15px 0 15px;
    box-shadow:2px 5px 10px #bfbebe;

}

.block_with_icon__icon{
    display: flex;
    width:auto;
    height: 50px;
    margin: 30px;

}


.block_with_icon__text_ander_icon{
    width: 290px;
    height: 50px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
    margin:15px;
}

.team{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/p5/backgroundimage_p5.jpg)  no-repeat center/cover;
    padding:70px 0 70px 0;
}

.team__titel {
    color: #ffffff;
}

.plears_deskription{
    display:flex;
    width: 220px;
    height: 310px;
    border: 1px solid  #00e0d0;
    margin:.7vw;
    flex-direction:column;
    justijy-content:center;
    align-items: center;
}

.superhiro_foto{
    max-width:220px;
    height:230px;
    overflow: hidden;
    margin-bottom:15px;
}


.plears_deskription__position{
    height: 17px;
    font-size: 12px;
    color:  #00e0d0;
    text-align: center;
}

.text_ander_main_box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 30px 0 30px 0;
}

.box_galery{
    flex-direction: column;
    align-items: center;
    padding-bottom:70px;
}

.twinkle_titel{
    height: 160px;
    align-items:center;
}

.mid_titel{
    display:flex;
    width: 50%;
    height: 64px;
    font-size: 22px;
    letter-spacing: 1px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-weight: 700;
    justify-content: center;
    align-items:center;
}

.twinkle_titel__comment {
    display:flex;
    width: 50%;
    height: 64px;
    color: #413d4b;
    justify-content: center;
    align-items:center;
}

.galery_main_box{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom:70px;

}

.galery_item{
    display:flex;
    height:200px;
    width:220px;
}

.color_1{
    background-color:#b6b6b6;
}
.color_2{
    background-color:#acacac;
}
.color_3{
    background-color:#a1a1a1;
}
.color_4{
    background-color:#8a8a8a;
}
.color_5{
    background-color:#b6b6b6;
}
.color_6{
    background-color:#a4a4a4;
}
.color_7{
    background-color: #a4a4a4;
}
.color_8{
    background-color:#a1a1a1;
}
.color_9{
    background-color:#8a8a8a;
}
.color_10{
    background-color: #a1a1a1;
}
.color_11{
    background-color:#acacac;
}
.color_12{
    background-color:#b6b6b6;
}

.teamplayers_in_circle{
    flex-direction:column;
    align-items:center;
    justify-content:center ;
    background: url(images/p7/backgroundimage_p7.jpg)  no-repeat center/cover;
    height: 500px;
    padding:2vw 0 2vw 0;
}
.teamplayers_in_circle__titel{
    display:flex;
    height: 100px;
    width: 100%;
    font-size: 5vw;
    letter-spacing: 3px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Playfair Display" ,serif;
    display:flex;
    justify-content: center;

}

.teamplayers_in_circle__text{
    display:flex;
    max-width: 970px;
    color: #ffffff;
    font-family: "Playfair Display",serif ;
    margin:10px 0 50px 0;
    text-align: center;
}

.foto_slider{
    display:flex;
    justify-content: center;
    align-items:center;
    max-width: 299px;
    height: auto;
    margin:50px 0 20px 0;
}

.foto_slider__item{
    margin:0 10px 0 10px;
}

.box_form_brand{
    flex-flow: wrap;
}

.form{
    display: flex;
    height:auto;
   max-width:460px;
    flex-direction: column;
    align-items: flex-start;
    margin:0 0 100px 12%;
}

input[type=text]{
    width:460px;
    height:44px;
padding-left:20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #413d4b;
    font-family: "Roboto";
    font-weight: 300;
    margin:0 0 24px 0;

}

.form__input[type=text]{
    display:flex;
    width:460px;
    height:210px;
    padding-left:20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #413d4b;
    font-family: "Roboto";
    font-weight: 300;
    margin:0 0 24px 0;
}

.form__titel{
    height:30px;
    margin:70px 0 40px 0;
}

.happi_client{
    display:flex;
    height:550px;
    max-width:450px;
    flex-wrap:wrap;
    flex-direction:column;
}

.logo_client{
    display:flex;
    height:50px;
    width:200px;
    margin:0 5vw 45px 0;
    justify-content:flex-start;
    align-items:center;
}

.fotter{display:flex;
    flex-direction:column;
    background: url(images/p9/bacgroundimage_p9.png) no-repeat center/cover;
   padding:70px 0 70px 0;

}

.fotter_main_box{
    display:flex;
    height:180px;
    padding:0 0 40px 0;
    margin:0 0 40px 0;
    flex-flow: wrap;
    justify-content:center;

}

.small_logo {
    display:flex;
    height:auto;
    justify-content:centr;
    align-items:flex-start;
    flex-direction:column;
    margin:0 50px 0 0;
}

.fotter_main_box__text{
    display:flex;
    justify-content: flex-star;
    align-items:center;
    width: 270px;
    color: #ffffff;
    margin-top:40px;
}
.image_pointer {
    margin-right:15px;
}


.our_studio{
    display:flex;
    width:300px;
    height:auto;
    align-items:flex-start;
    flex-direction:column;
    margin:0 50px 0 0;
}

.fotter__input[type=text]{
    display:flex;
    width:214px;
    height:44px;
    padding-left:20px;
    font-size: 14px;
    letter-spacing: 1px;
   color: #9f99b2;
    font-family: "Roboto";
    font-weight: 300;
    margin:0 0 10px 0;
    background: transparent;
 border:1px solid  #9f99b2;
   text-color: #413d4b;
    text-align: start;
}

.stay_in_touch{
    display:flex;
    width:300px;
    height:auto;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction:column;
}

.box_button{
    display:flex;
    width:35px;
    height:35px;
    justify-content: center;
    align-items:center;
    border:1px solid  #ffffff;
    border-radius: 50%;
    margin:5px;

}

.social_button{
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
}
.ending{
    justify-content:center;
    flex-direction:row;
}
.ending_button{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width:auto;
    height: 20px;
    text-decoration: none;
    margin:0 50px 0 0 ;
}
.ending_button:hover {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #00e0d0;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    width:auto;
    height: 20px;
    text-decoration: none;
margin:0 50px 0 0 ;
}

.text_copyright{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: auto;
    height: 20px;
    text-decoration: none;
   padding:0 0 0 31%;
}

@media screen and (max-width: 800px) {
    .main_menu{
        height: 150px;
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        justify-content: flex-start;
    }
    .line_ander_titel {
        display: none;
    }
    .main_menu__button {
        font-size: 13px;
        width: auto;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-decoration: none;
        margin:5px 0 0 0;
    }
    .main_menu__button:hover{
        font-size: 13px;
        display:flex;
        color: #00e0d0;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-decoration: none;
        margin:5px 0 0 0;
    }

}
